.pageWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-weight: 600;
    margin-bottom: 24px;
}

.tableWrapper {
    overflow: auto;
    min-height: 500px;
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.footer {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
}

.sortable {
    cursor: pointer;
}

.sortLabel {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.link {
    color: var(--color-action);
    text-decoration: none;
}
