body {
  margin: 0;
  min-block-size: 100%;
}

body.disable-animation *,
body.disable-animation *::after,
body.disable-animation *::before {
  transition: none !important;
}

html {
  block-size: 100%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all var(--transition-slow);
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 0;
  transition: all var(--transition-slow);
}
.ButtonNext_variant_contained.ButtonNext_color_primary{

  --button-bg-color:#2C4D9E;
  --button-bg-color-hover:#294894;
  --button-bg-color-active:#294894;
  --button-bg-color-focus:#294894;
}

.Theme_color_ozenDefault {
  --color-content-action: #2C4D9E;
  --color-content-action-hover: #294894;

}

.ButtonNext_variant_function.ButtonNext_color_primary{

  --button-font-color:#FFFFFF;
  --button-font-color-hover:#B5B5B5;
  --button-font-color-active:#B5B5B5;
  --button-font-color-focus:#B5B5B5;

}
.Typography_link{
  color:#B5B5B5;
}
.Typography_link:hover{
  color: #5c5757;
}
